<h1><%= @user.name %></h1>
<p>Email: <%= @user.email %></p>

<h1> Products you reviewed </h1>
<% @user.products.each do |product| %>
    <%= link_to product.name , product_path(product) %>
    <% end %>
